*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: aquamarine;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}
.ti-close{
    float: right;
}
.text{
    margin-top: 20px;
    opacity: 0.3;
}
.text-2{
    text-decoration: underline;
}